*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}


/* --header-- */
header{
    height: 55px;
    justify-content: space-between;
    padding: 0px 20px;

}

header> nav{
    height: 60%;
    justify-content: center;
    align-items: center;
    
}

/* --hero-- */

.hero{
    width: 70%;
    max-width: 1200px;
    padding-top: 60px;
    min-height: 450px;
}
h1{
    font-size: 3rem;
    padding: 1rem 0;
}

.white-space{
    background-color: white;
    height: 70px;

    border-bottom: 1px solid gainsboro;
}
.grande{
    font-size: 3rem;
}


.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.jumbo{
    width: 100%;
    max-width: 575px;
}
/* --footer-- */

footer{
    color: white;
}

/* --Common-- */

.container{
    width: 60%;
    max-width: 1000px;
    

}

.card{
    width: 100%;


    border: 1px solid rgb(190, 189, 189);
}

.height{
    height: 500px;
    
}
.width{
    width: 25% ;
}
.flex{
    display: flex;
}
.flex-end{
    justify-content: flex-end;
}
.wrap{
    flex-wrap: wrap;
}
.column{
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.gap{
    gap:20px;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;

}
.liste{
    flex-basis: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

.center{
    align-items: center;
    justify-content: center;
}
.center-y{
    align-items: center;
}

.center-x{
    justify-content: center;
 }

.bottone{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(11, 117, 255);
    color: white;
    text-decoration: none;
    display: inline-block;
}
.bottone.bianco{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.circle{
    background-color: aqua;
    border-radius: 50%;
    border: 1px solid black;
    width: 5px;
    height: 5px;
}

.col-30{
    flex-basis: 30%;
}
.col-40{
    flex-basis: 40%;
}
.col-50{
    flex-basis: 50%;
}
.col-60{
    flex-basis: 60%;
}
.col-70{
    flex-basis: 70%;
}
.piccolo{
    font-size: 1rem;
}

.margin-bot{
    margin-bottom: 20px;
}
.margin-top{
    margin-top: 20px;
}
.padding-top{
    padding-top: 10px;
}
.padding{
    padding: 10px;
}
.padding-section{
    padding: 100px 0;
    
}

.blue{
    color: rgb(11, 117, 255);
}
.grigio{
    color: rgb(190, 189, 189);
}
.bot-border-gray{
    border-bottom: 1px solid rgb(190, 189, 189);
}
/* --backgrounds-- */


.bg-lightblue{
    background-color:rgb(169, 206, 223);
}
.bg-black{
    background-color: black;
}