*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

li{
    list-style: none;
}
/* --header-- */
header{
    height: 70px;
    justify-content: space-between;


    border: 1px solid black;
}

header> nav{
    padding: 20px;
    height: 60%;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

/* --hero-- */

.hero{
    width: 70%;
    max-width: 1200;

    
}

/* --Common-- */

.container{
    width: 60%;
    max-width: 1000px;
    
    border: 1px solid black;
}

.card{
    width: 100%;


    border: 1px solid black;
}

.height{
    height: 500px;
    border: 1px solid black;
}
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.gap{
    gap:10px;
}
.liste{
    justify-content: space-around;
    flex-basis: 60%;
    margin-left: 20px;
    margin-right: 20px;
}

.center{
    align-items: center;
    justify-content: center;
}
.center-y{
    align-items: center;
}

.center-x{
    justify-content: center;
 }

.bottone{
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.circle{
    background-color: aqua;
    border-radius: 50%;
    border: 1px solid black;
    
}

.col-30{
    flex-basis: 30%;
}
/* --backgrounds-- */

.bg-red{
    background-color: red;
}

.bg-blue{
    background-color: blue;
}

.bg-pink{
    background-color: pink;
}
.bg-azul{
    background-color:azure;
}